<!DOCTYPE html>
<html>
  <head>
    <title>RailsNoteshare</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="container">

  <nav> 
    <ul class="navbar nav justify-content-end navbar-expand-lg navbar-light bg-light">
      <% if user_signed_in? %>
        <li class="nav-item">
          <a class="nav-link" href=<%=root_path%> tabindex="-1" aria-disabled="true">
            Notes</a></li>
        <li class="nav-item">
          <a class="nav-link" href='/notes/new' tabindex="-1" aria-disabled="true">
            Create Note</a></li>
        <li class="nav-item">
          <a class="nav-link" href=<%= destroy_user_session_path %> data-method="delete"  tabindex="-1" aria-disabled="true">
            Sign Out</a></li>
      <% else %>
        <li class="nav-item">
          <a class="nav-link" href=<%= new_user_session_url %> tabindex="-1" aria-disabled="true">
            Sign In</a></li>
        <li class="nav-item">
          <a class="nav-link" href=<%= new_user_registration_url %> tabindex="-1" aria-disabled="true">
            Sign Up</a></li>
      <% end %>
    </ul>
  </nav>

  <!-- Devise Requirements -->
  <!-- <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p> -->

  
    <%= yield %>
  </body>
</html>
